<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Distributor Appointment Page</title>
</head>
<body>
    <h1>
        This is the distributor appointment page
    </h1>
    <ul>
    {% for appointment in object_list %}

        <li>Current physician: {{ appointment.physician }}</li>
        <li>Patient: {{ appointment.patient }}</li>
        <li>Vaccine name: {{ appointment.vaccine_name.brand }}</li>
        <li>Vaccine name: {{ appointment.vaccine_name.vaccine_id }}</li>
        <li>startTime: {{ appointment.start_time  }}</li>
        <li>endTime: {{ appointment.end_time }}</li>
        <li>does: {{ appointment.dose }}</li>
    {% empty %}
        <li>No articles yet.</li>
    {% endfor %}

    
    </ul>
<!--    <p>Start time: {{ object.StartTime }}</p>-->
<!--    <p>End time: {{ object.EndTime }}</p>-->
<!--    <form method="post">-->
<!--    {% csrf_token %}-->
<!--    {{ form.as_p }}-->
<!--    </form>-->
</body>
</html>