<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Physician Appointment Page</title>
</head>
<body>
    <h1>
        This is the Physician appointment page
    </h1>
    <ul>
    
    {% for appointment in Appointment.objects %}
        {% if appointment.distributor == user.distributor %}
    
        <li>Current physician: {{ appointment.currphysician }}</li>
        <li>Patient: {{ appointment.patient }}</li>
        <li>Vaccine name: {{ appointment.vaccineName.vaccine_id }}</li>
        <li>startTime: {{ appointment.startTime }}</li>
        <li>endTime: {{ appointment.endTime }}</li>
        <li>does: {{ appointment.dose }}</li>
        {% endif %}
    {% empty %}
        <li>No articles yet.</li>
    {% endfor %}

    
    </ul>
<!--    <p>Start time: {{ object.StartTime }}</p>-->
<!--    <p>End time: {{ object.EndTime }}</p>-->
<!--    <form method="post">-->
<!--    {% csrf_token %}-->
<!--    {{ form.as_p }}-->
<!--    </form>-->
</body>
</html>