<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Account home page</title>

    <style>
        body {
            background: #89CFF0;
        }
    </style>
        </head >

<body>
    <style>
        h1 {
            color: white;
            text-align: center;
        }

        button {
            color: black;
            width: 300px;
            height: 100px;
            margin-top: 50px;
            font-size: 28px;
            
        }

        #firstRect {
            fill: white;
            fill-opacity: .56;
        }
    </style>

    <h1>
        Select User Type
    </h1>
    <p style="text-align: center">
        <button onClick="window.location='signup/patient';" type="button"> Patient </button>
    </p>
    <p style="text-align: center">
        <button onClick="window.location='signup/physician';" type="button"> Physician </button>
    </p>
    <p style="text-align: center">
        <button onClick="window.location='signup/distributor';" type="button"> Distributor </button>
    </p>

</body>


</html>